#containerCarrouselNanoSuits {
	display: flex;
}
#nanoSuitCarrouselCard {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
.nanoSuitCarrouselDetails {
	display: flex;
	flex-direction: column;
}

#nanoSuitCarrouselName {
	display: inline-block;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 3rem;
	color: var(--lightblack10);
	text-shadow: 1px 1px 0 var(--light2denim), 0 0 4px var(--light2denim);
	margin: 0 1rem;
	text-align: center;
}

#nanoSuitCarrouselPlace {
	margin-bottom: 1rem;
}

#nanoSuitCarrouselText1,
#nanoSuitCarrouselText2,
#nanoSuitCarrouselWhere,
#nanoSuitCarrouselPlace {
	font-family: "Quan-light", sans-serif;
	font-size: 1.5rem;
	color: var(--black);
	margin-left: 1rem;
}
#nanoSuitCarrouselWhere {
	display: flex;
	justify-self: start;
	margin: 2rem 0 0 1rem;

	font-family: "Quan-Regular", sans-serif;
	font-size: 1.5rem;
	color: var(--black);
}
#nanoSuitCarrouselText1 {
	margin: 3rem 0 1rem 1rem;
}
#nanoSuitCarrouselImage {
	width: 100vw;
	height: 100%;
	object-fit: cover;
}

.nanoSuitCarrouselStars {
	display: flex;
	margin: 0 1rem;
}

@media screen and (max-width: 1200px) {
	.parameter {
		padding: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	#nanoSuitCarrouselName {
		text-align: start;
	}
}

@media screen and (min-width: 1200px) {
	#nanoSuitCarrouselCard {
		display: flex;
		flex-direction: row;
		width: 70vw;
		height: 80vh;
	}

	#nanoSuitCarrouselName {
		text-align: start;
	}

	#nanoSuitCarrouselWhere {
		margin: auto 0 0 1rem;
	}

	#nanoSuitCarrouselImage {
		width: 35vw;
		height: 100%;
		object-fit: cover;
	}
}
