.footer {
	display: flex;
	width: 100%;
}
#footerBottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
#ContainerLinks {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: 1rem;
	width: 75vw;
}

#Shiftup,
#SIE,
#terms,
#contact {
	margin: 2rem 3rem;
}
#ShiftupTitle,
#SIETitle,
#LegalTitle,
#ContactTitle {
	display: flex;
	justify-content: start;
	align-items: center;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--white);
}
#ShiftupLinks,
#SIELinks,
#legalLinks,
#ContactLinks {
	display: flex;
	justify-content: space-between;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 1rem;
	width: 100%;
	margin: .5rem 0;
	& > a {
		padding: .2rem 0;
	}
}
#legalLinks {
	flex-direction: column;
}
#containerStores {
	position: absolute;
	right: 2rem;
	bottom: 3rem;
}
#containerLegal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	width: 100%;
}
#terms,
#contact {
	display: flex;
	flex-direction: column;
}

#copyrightFooter {
	text-align: center;
	font-family: "QuanRounded-Light", sans-serif;
	font-size: 0.8rem;
	color: var(--white);
	width: 100%;
}

#shiftupCopyrightFooter {
	text-align: center;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 0.8rem;
	color: var(--white);
	width: 100%;
}

@media (min-width: 768px) {
	#copyrightFooter {
		display: flex;
		justify-content: start;
		align-items: center;
		position: absolute;
		bottom: 0;
	}

	#shiftupCopyrightFooter {
		display: flex;
		justify-content: end;
		align-items: end;
		font-family: "QuanRounded-Bold", sans-serif;
		font-size: 0.8rem;
		color: var(--white);
	}
}

@media (min-width: 1400px) {
	#ContainerLinks {
		flex-direction: row;
	}
}
