#containerSignup {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	height: 750px;
	max-height: 750px;
	width: 800px;
	border-radius: 35px;
	box-shadow: 0 0 10px var(--lightblack50);
	margin-top: 2rem;
	animation: fadeIn .5s ease-in-out;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#containerSignup.showSuccess {
	height: 830px;
}
#containerSignup.showSuccess .signupSuccessMessage {
	opacity: 1;
	max-height: 1200px; /* doit être plus grand que le contenu réel */
	min-height: 830px; /* pour la mise en page, mais ne sera pas animé */
	min-width: 900px;
}
.signupSuccessMessage {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	font-family: "Quan-Regular", sans-serif;
	font-size: 1rem;
	color: var(--black);
	background: var(--linear-login);
	padding: 1rem 0;
	border-radius: 35px;
	box-shadow: 0 0 10px var(--greenLight);
	opacity: 0;
	max-height: 0;
	transition: opacity 1.5s ease, max-height 1.5s ease, transform 1.5s ease,
		box-shadow 1.5s ease;
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: -2;
}
#signupSuccessText_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Quan-Bold", sans-serif;
	font-size: 1.5rem;
	margin-left: 1rem;
}
#signupSuccessImage {
	margin: 0;
}
#signupSuccessText_2 {
	margin-left: 1rem;
}

#containerSignup.showFail {
	height: 830px;
}
#containerSignup.showFail .signupFailMessage {
	opacity: 1;
	max-height: 1200px; /* doit être plus grand que le contenu réel */
	min-height: 830px; /* pour la mise en page, mais ne sera pas animé */
	min-width: 900px;
}

.signupFailMessage {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	font-family: "Quan-Regular", sans-serif;
	font-size: 1rem;
	color: var(--black);
	background: var(--linear-loginDark);
	padding: 1rem 0;
	border-radius: 35px;
	box-shadow: 0 0 10px var(--redLight);
	opacity: 0;
	max-height: 0;
	transition: opacity 1.5s ease, max-height 1.5s ease, transform 1.5s ease,
		box-shadow 1.5s ease;
	overflow: hidden;
	width: 100%;
	position: relative;
	animation: fadeIn .25s ease;
	z-index: -2;
}
/* ===== */
#signupErrorContainer {
	margin-left: 10rem;
}
#signupErrorIconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.signupError_1 {
	margin: 0 0.5rem 0 0;
	font-family: "Quan-Bold", sans-serif;
	font-size: 2rem;
	color: var(--white);
}

.signupError_2 {
	margin: 0 0;
	font-family: "Quan-Bold", sans-serif;
	font-size: 1rem;
	color: var(--white);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-6px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* ====== */

#signupBackground {
	object-fit: cover;
	height: 750px;
	width: 900px;
	border-radius: 35px;
	position: absolute;
	z-index: -1;
}

#signupLogo {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -5rem;
	left: 0;
	margin-bottom: -8rem;
}

#signupForm {
	display: flex;
	flex-direction: column;
	height: 750px;
	width: 400px;
	border-radius: 35px;
	background-color: var(--white);
	position: absolute;
	z-index: 1;
}
#signupDeco {
	display: flex;
	flex-direction: row;
	height: 2rem;
	margin: 4rem 0 1rem 1rem;
}
#signupTitle {
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2.5rem;
	margin-right: .5rem;
}
#wavingHand {
	margin: .5rem 0;
}

#signupInputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

#signupText {
	font-family: "Quan-SemiLight", sans-serif;
	font-size: 1.5rem;
	color: var(--black);
	margin: .5rem 0;
	text-align: center;
}

.signupLabel {
	font-family: "Quan-Regular", sans-serif;
	font-size: 1rem;
	color: var(--black);
	margin-left: 2.5rem;
}
.signupInput {
	width: 355px;
	height: 50px;
	margin: 0 auto 1rem auto;
	border-radius: 35px;
}
.loginAndsignUpFunctionnal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 355px;
	height: 40px;
	font-family: "Quan-Bold", sans-serif;
	font-size: 1.5rem;
	border-radius: 35px;
	border: none;
	margin: 0 auto 1rem auto;
	gap: 1rem;
	color: var(--white);
	transition: 0.35s ease-in-out;
}
.connection {
	background-color: var(--lightdenim);
	&:hover {
		background-color: var(--denimhalf);
	}
	&:active {
		background-color: var(--linear-loginActive);
	}
}
.signup {
	border: var(--denim) 1px solid;
	background: var(--white);
	color: var(--black);
	&:hover {
		background: var(--linear-login);
		color: var(--white);
	}
}
.signup:active {
	background: var(--linear-loginActive);
	color: var(--white);
}

#signupIcon {
	transition: transform 0.35s ease-in-out, filter 0.35s ease-in-out;
	transform: translateX(0);
}

/* au survol du bouton d’inscription */
.loginAndsignUpFunctionnal.signup:hover #signupIcon {
	transform: translateX(4px);
	filter: invert(1);
}

#signupText2 {
	font-family: "Quan-Regular", sans-serif;
	font-size: 1rem;
	color: var(--black);
	margin: 1rem 0;
	text-align: center;
}
#signupLink_2 {
	color: var(--black);
	font-family: "QuanRounded-Regular", sans-serif;
	font-size: 1rem;
	text-decoration: underline;
	cursor: pointer;
}
#signupPasswordHint {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 1rem;
	color: var(--redLight);
	margin: 0 auto 1rem;
	padding: .5rem;
	text-align: center;
	background-color: var(--redLight90);
	border-radius: 25px;

	& > span {
		text-align: start;
	}
}

#signupSwitch {
	height: 25px;
	width: 200px;
	font-family: "QuanRounded-Regular", sans-serif;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid var(--denim);
	border-radius: 25px;
	justify-content: center;
	margin: 0 6rem;
}

#signupTerms {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2rem;
	gap: 1rem;
}
#signupLink {
	color: var(--black);
	font-family: "QuanRounded-Regular", sans-serif;
	font-size: 1rem;
}
#signupLabelCheckbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

#signupLabelCheckbox input[type="checkbox"] {
	display: none; /* Masque la checkbox native */
}

@media screen and (max-width: 768px) {
	#containerSignup,
	.signupSuccessMessage,
	.signupFailMessage,
	#signupForm {
		box-shadow: none !important;
		border-radius: 0;
	}

	#containerSignup {
		justify-content: start;
		align-content: start;
		min-height: 120vh;
		width: 100%;
		margin: 0;
	}

	#signupBackground,
	#signupLogo {
		display: none;
	}

	#signupForm {
		height: 100vh;
		width: 100vw;
		background-color: transparent;
	}
	#signupDeco {
		margin: 9rem 0 1rem 1rem;
	}
	#signupTitle {
		font-size: 3rem;
	}

	#signupText {
		font-size: 2rem;
		margin: 1rem 0;
		padding-top: 2rem;
	}

	.signupLabel {
		font-size: 1.4rem;
	}
	.signupInput {
		width: 90vw;
	}
	.signup {
		border: var(--denim) 1px solid;
		background: var(--white);
		color: var(--black);
	}

	#signupTerms {
		margin: 1rem 0;
	}
	#signupSwitch {
		width: 50vw;
		display: block;
		margin: 2rem auto;
	}
	/* === Success  & Failure === */
	#containerSignup.showSuccess {
		height: 100vh;
	}
	#containerSignup.showSuccess .signupSuccessMessage {
		display: flex;
		max-height: 150vh; /* doit être plus grand que le contenu réel */
		min-height: 120vh; /* pour la mise en page, mais ne sera pas animé */
		min-width: 100%;
	}

	#containerSignup.showFail {
		height: 100vh;
	}
	#containerSignup.showFail .signupFailMessage {
		max-height: 150vh; /* doit être plus grand que le contenu réel */
		min-height: 120vh; /* pour la mise en page, mais ne sera pas animé */
		min-width: 100%;
	}

	/* ===== */
	#signupErrorContainer {
		margin-left: 1rem;
	}

	.signupError_1 {
		font-size: 2.5rem;
	}

	.signupError_2 {
		font-size: 1.2rem;
		text-align: center;
	}

	#signupSuccessImage {
		width: 96px;
		height: 96px;
	}
	#signupSuccessText_1 {
		display: flex;
		flex-direction: column;
		font-size: 2rem;
		text-align: center;
	}
	#signupSuccessText_2 {
		font-size: 1.3rem;
		text-align: center;
		margin-top: 1rem;
	}

	#containerSignup.showFail #signupTitle,
	#containerSignup.showFail #signupText,
	#containerSignup.showFail .signupLabel,
	#containerSignup.showFail #signupPasswordHint,
	#containerSignup.showFail #signupLink,
	#containerSignup.showFail #signupLink_2,
	#containerSignup.showFail .signupLabelCheckbox,
	#containerSignup.showFail #signupSwitch {
		color: var(--white) !important;
	}
	#signupSwitch {
		border: 1px solid var(--btnborder);
	}
	#containerSignup.showFail #signupPasswordHint {
		background-color: var(--lightblack25);
	}
	/* ====== */
}
