.gearsRepresentative {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: 700px;
	height: fit-content;
}

.gearsRepresentativeTitle {
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 3rem;
	color: var(--lightblack10);
	text-shadow: 0 0 1px var(--black), 0 0 4px var(--orange);
}

.gearsRepresentativeSkill {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: start;
	font-size: 1.5rem;
	color: var(--black);
	margin: 1.5rem 0 5rem 0;
	& > p > .gearsRepresentativeSkillValue {
		font-family: "Quan-Bold", sans-serif;
		color: var(--orange);
	}
}

.gearsRepresentativeText {
	margin: 0 0 3rem 0;
	& > p {
		font-family: "QuanRounded-Light", sans-serif;
		font-size: 1.5rem;
		color: var(--black);
		margin: 1.5rem 0 0 0;
	}
	& > .gearsRepresentativeText_2 {
		width: 700px;
		height: 10rem;
	}
}
