.titleSubSection_blue {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 90vw;
	height: 100%;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--black);
	margin: 2rem 0 0 1rem;
	& span {
		color: var(--denim);
		margin-left: 1rem;
	}
}
.titleSubSection_orange {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 90vw;
	height: 100%;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--black);
	margin: 2rem 0 0 1rem;
	& span {
		color: var(--orange);
		margin-left: 1rem;
	}
}

.containerList {
	display: flex;
	width: 100%;
	height: 70vh;
	margin: 2rem 0rem 6rem 0;
	& > ul {
		overflow: scroll;
		overflow-x: hidden;
	}
}

.listLi_blue {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: scroll;
	height: 10vh;
	min-height: 90px;
	width: 100vw;
	border-top: var(--btnborder) 1px solid;
	transition: 0.3s ease-in-out;
	overflow: hidden;
	&:hover {
		border: var(--lightblack) 1px solid;
		border-radius: 5px;
	}
}

.ListLi_orange {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: scroll;
	height: 14vh;
	min-height: 90px;
	width: 100vw; /*20 desktop*/
	border-top: var(--btnborder) 1px solid;
	transition: 0.3s ease-in-out;
	overflow: hidden;
	&:hover {
		border: var(--lightblack) 1px solid;
		border-radius: 5px;
	}
}

.listButton {
	display: flex;
	justify-content: start;
	align-items: center;
	font-family: "Quan-Bold", sans-serif;
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--black);
}

.deco_1_blue {
	width: 45px;
	height: 100vh;
	position: relative;
	border-radius: 5px 0 0 5px;
	z-index: -1;
	align-self: flex-start;
}

.deco_1_orange {
	width: 45px;
	height: 100vh;
	position: relative;
	border-radius: 5px 0 0 5px;
	z-index: -1;
	align-self: flex-start;
	&.gears {
		height: 100px;
	}
}

.apparelIcon_blue {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	left: -65px;
	opacity: 0.5;
}

.apparelIcon_orange {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	left: -70px;
	opacity: 0.8;

	&.gears {
		height: 100px;
	}
}

.starIconsTitleContainer {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.starIconsContainer {
	position: relative;
	left: -30px;
}

.listName {
	display: flex;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	position: relative;
	left: -30px;
	line-height: 1.2rem;
	text-align: left;
}

.listArrow {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90vh;
	width: 300px;
	opacity: 0.15;
	position: absolute;
	margin: -100px 3rem 0 3rem;
	z-index: -3;
}

/*=== SCROLLBAR NANO SUITS INVISIBLE===*/
/* masquer les scrollbars mais conserver le scroll */
.containerList,
.containerList > ul {
	-ms-overflow-style: none; /* IE/Edge */
	scrollbar-width: none; /* Firefox */
}

/* WebKit (Chrome, Safari, Opera) */
.containerList::-webkit-scrollbar,
.containerList > ul::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}
/*=== SCROLLBAR NANO SUITS INVISIBLE===*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.containerList {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;

		& > ul {
			width: 60vw;
		}
	}
	.listLi_blue {
		width: 60vw;
		height: 8vh;
	}

	.ListLi_orange {
		width: 60vw;
		height: 8vh;
	}
}

@media screen and (min-width: 1200px) {
	.containerList {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 21vw;
		& > ul {
			width: 21vw;
		}
	}
	.titleSubSection_blue,
	.titleSubSection_orange {
		width: fit-content;
	}
	.listLi_blue {
		width: 21vw;
		height: 8vh;
	}

	.ListLi_orange {
		width: 21vw;
		height: 8vh;
	}
}
