.titleSubSection_blue{	
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--black);
	& span {
		color: var(--denim);
		margin-left: 1rem;
	}}

.titleSubSection_orange{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--black);
	& span {
		color: var(--orange);
		margin-left: 1rem;
	}
}

.containerList {
	display: flex;
	width: fit-content;
	height: 500px;
	margin: 5rem 0rem 6rem 6rem;
	overflow: scroll;
	overflow-x: hidden;
}

.listLi_blue {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: scroll;
	height: 70px;
	width: 300px;
	border-top: var(--btnborder) 1px solid;
	transition: 0.3s ease-in-out;
	overflow: hidden;

	&:hover {
		border: var(--lightblack) 1px solid;
		border-radius: 5px;
	}
}

.ListLi_orange {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: scroll;
	height: 80px;
	width: 380px;
	border-top: var(--btnborder) 1px solid;
	transition: 0.3s ease-in-out;
	overflow: hidden;

	&:hover {
		border: var(--lightblack) 1px solid;
		border-radius: 5px;
	}
}

.listButton{
    display: flex;
	justify-content: start;
	align-items: center;
	font-family: "Quan-Bold", sans-serif;
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--black);
}

.deco_1_blue{
    width: 45px;
	height: 70px;
	position: relative;
	border-radius: 5px 0 0 5px;
	z-index: -1;
	align-self: flex-start;
}

.deco_1_orange{
    width: 45px;
	height: 80px;
	position: relative;
	border-radius: 5px 0 0 5px;
	z-index: -1;
	align-self: flex-start;
}

.apparelIcon_blue {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	left: -65px;
	opacity: 0.5;
}

.apparelIcon_orange {
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
	left: -70px;
	opacity: 0.8;
}

.listName{
    	display: flex;
	align-content: center;
	justify-content: flex-start;
	width: 100%;
	position: relative;
	left: -30px;
	line-height: 1.2rem;
	text-align: left;
}

.listArrow{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 700px;
	width: 300px;
	opacity: 0.15;
	position: absolute;
	margin-top: -100px;
	margin-left: 20px;
	z-index: -3;
}


/*=== SCROLLBAR NANO SUITS INVISIBLE===*/
.containerList::-webkit-scrollbar,
.statsEVEContent::-webkit-scrollbar {
	width: 8px; /* largeur de l’ascenseur */
	background: none; /* couleur du fond */
	border-radius: 4px;
}

.containerList::-webkit-scrollbar-thumb,
.statsEVEContent::-webkit-scrollbar-thumb {
	background: none; /* couleur du curseur */
	border-radius: 4px;
}

.containerList::-webkit-scrollbar-thumb:hover,
.statsEVEContent::-webkit-scrollbar-thumb:hover {
	background: none; /* couleur au survol */
}
/*=== SCROLLBAR NANO SUITS INVISIBLE===*/