:root {
	--mainheader: #1959b0;
	--denim: #1959b0;
	--denimDark: #1a5cb7;
	--denimhalf: #2473e0;
	--lightdenim: #508fe6;
	--light2denim: #79a9ec;
	--denimUltraLight: #f3f7fd;
	--btnborder: #d9d9d9;
	--lightgrey: #d9d9d9;
	--white: #fdfdfd;
	--black: #000;
	--blackLight: #4d4d4d;
	--gray: #8c8c8c;

	--orange: #ff9e00;

	--lightgrey50: #d9d9d950;
	--lightblack: #333333;
	--lightblack10: #333333ee;
	--lightblack90: #33333310;
	--lightblack50: rgba(33, 33, 33, 0.5);
	--lightblack25: rgba(33, 33, 33, 0.25);

	--greenLight: #ccff33;
	--redLight: #da1e37;
	--redNegative: #e74f63;
	--redLight90: #da1e3715;

	--linear-login: linear-gradient(90deg, #ccff33, #7a991f);
	--linear-loginActive: linear-gradient(90deg, #99cc00, #4d6600);
	--linear-loginDark: linear-gradient(90deg, #641220, #ff4d6d);
	--linear-section: linear-gradient(90deg, #ffffff, #508fe6);
	--linear-internal: linear-gradient(
		90deg,
		#508fe6 20%,
		#508fe600 20%,
		#508fe600 100%
	);
	--linear-internal-hover: linear-gradient(
		90deg,
		#fdfdfd 20%,
		#fdfdfd00 20%,
		#fdfdfd00 100%
	);
	--linear-search: linear-gradient(90deg, #56cfe1, #5e60ce);

	/* Locations - barre de navigation entre les différents lieux */
	--linear-xion: linear-gradient(90deg, #b18864, #32271b);
	--linear-eidos7: linear-gradient(90deg, #a59683, #1f1719);
	--linear-eidos9: linear-gradient(90deg, #a97d5e, #564342);
	--linear-thewastelands: linear-gradient(90deg, #c98756, #322113);
	--linear-thegreatdesert: linear-gradient(90deg, #ecba95, #b35d42);
	--linear-spire4: linear-gradient(90deg, #aa9ba0, #0f467e);
	--linear-altesslevoire: linear-gradient(90deg, #9cafb7, #2a3d45);
	--linear-abysslevoire: linear-gradient(90deg, #c57b57, #251605);
	--linear-matrix11: linear-gradient(90deg, #81b23b, #545643);

	--radial-orange: radial-gradient(circle, #ffd899, #ff9e00);
	--radial-gray: radial-gradient(circle, #d9d9d9, #8c8c8c);
	--linear-whiteToTransparent: radial-gradient(
		ellipse,
		#ffffff00 00%,
		#ffffff 65%,
		#ffffff 100%
	);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}

@font-face {
	font-family: "Quan-Thin", sans-serif;
	src: url("/font/TTF/Quan-Thin.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Thin.woff2") format("woff2");

	font-family: "Quan-ExtraLight", sans-serif;
	src: url("/font/TTF/Quan-ExtraLight.ttf") format("truetype"),
		url("/font/WOFF2/Quan-ExtraLight.woff2") format("woff2");

	font-family: "Quan-SemiLight", sans-serif;
	src: url("/font/TTF/Quan-SemiLight.ttf") format("truetype"),
		url("/font/WOFF2/Quan-SemiLight.woff2") format("woff2");

	font-family: "Quan-Light", sans-serif;
	src: url("/font/TTF/Quan-Light.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Light.woff2") format("woff2");

	font-family: "Quan-Regular", sans-serif;
	src: url("/font/TTF/Quan-Regular.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Regular.woff2") format("woff2");

	font-family: "Quan-Bold", sans-serif;
	src: url("/font/TTF/Quan-Bold.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Bold.woff2") format("woff2");

	font-family: "Quan-ExtraBold", sans-serif;
	src: url("/font/TTF/Quan-ExtraBold.ttf") format("truetype"),
		url("/font/WOFF2/Quan-ExtraBold.woff2") format("woff2");

	font-family: "Quan-Black", sans-serif;
	src: url("/font/TTF/Quan-Black.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Black.woff2") format("woff2");

	font-family: "QuanRounded-Thin", sans-serif;
	src: url("/font/TTF/QuanRounded-Thin.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Thin.woff2") format("woff2");

	font-family: "QuanRounded-ExtraLight", sans-serif;
	src: url("/font/TTF/QuanRounded-ExtraLight.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-ExtraLight.woff2") format("woff2");

	font-family: "QuanRounded-SemiLight", sans-serif;
	src: url("/font/TTF/QuanRounded-SemiLight.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-SemiLight.woff2") format("woff2");

	font-family: "QuanRounded-Light", sans-serif;
	src: url("/font/TTF/QuanRounded-Light.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Light.woff2") format("woff2");

	font-family: "QuanRounded-Regular", sans-serif;
	src: url("/font/TTF/QuanRounded-Regular.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Regular.woff2") format("woff2");

	font-family: "QuanRounded-Bold", sans-serif;
	src: url("/font/TTF/QuanRounded-Bold.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Bold.woff2") format("woff2");

	font-family: "QuanRounded-ExtraBold", sans-serif;
	src: url("/font/TTF/QuanRounded-ExtraBold.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-ExtraBold.woff2") format("woff2");

	font-family: "QuanRounded-Black", sans-serif;
	src: url("/font/TTF/QuanRounded-Black.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Black.woff2") format("woff2");
}
a {
	text-decoration: none;
	color: var(--white);
	width: fit-content;
	height: fit-content;
}
form {
	width: 100%;
	height: 100%;
}

hr {
	border: none;
	height: 1px;
	background: var(--denim);
	width: 90%;
	opacity: 1;
}
input {
	font-family: "Quan-Regular", sans-serif;
	font-size: 1.5rem;
	padding: 1rem;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
	color: var(--black);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "QuanRounded-Bold", sans-serif;
	color: var(--black);
}

header {
	height: 300px;
	width: 100%;
	background-image: url("/assets/images/header.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

footer {
	height: fit-content;
	width: 100%;
	background-image: url("/assets/images/footer.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	bottom: 0;
}
#copyrightHeader {
	font-family: "QuanRounded-Light", sans-serif;
	font-size: 0.8rem;
	color: var(--white);
	text-align: center;
	margin: 2rem 0 0 0;
}
.parameter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0rem 0;
}

#row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 10rem 0 0;
}
/*=== SCROLLBAR NANO SUITS INVISIBLE===*/
#containerListNanoSuits::-webkit-scrollbar,
#containerListExospine::-webkit-scrollbar,
.statsEVEContent::-webkit-scrollbar {
	width: 8px; /* largeur de l’ascenseur */
	background: none; /* couleur du fond */
	border-radius: 4px;
}

#containerListNanoSuits::-webkit-scrollbar-thumb,
#containerListExospine::-webkit-scrollbar-thumb,
.statsEVEContent::-webkit-scrollbar-thumb {
	background: none; /* couleur du curseur */
	border-radius: 4px;
}

#containerListNanoSuits::-webkit-scrollbar-thumb:hover,
#containerListExospine::-webkit-scrollbar-thumb:hover,
.statsEVEContent::-webkit-scrollbar-thumb:hover {
	background: none; /* couleur au survol */
}
/*=== SCROLLBAR NANO SUITS INVISIBLE===*/

.titleSubSection_1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--black);
	& span {
		color: var(--denim);
		margin-left: 1rem;
	}
}
.titleSubSection_2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
	color: var(--black);
	& span {
		color: var(--orange);
		margin-left: 1rem;
	}
}

@media screen and (max-width: 1024px) {
	#mainSignUpLogin {
		flex-direction: column;
		align-items: center;
	}
}
