:root {
	--mainheader: #1959b0;
	--btnborder: #d9d9d9;
	--white: #fdfdfd;
	--black: #000;
	--blackLight: #4d4d4d;
	--denimDark: #1a5cb7;
	--denim: #1959b0;
	--denimhalf: #2473e0;
	--lightdenim: #508fe6;
	--denimUltraLight: #f3f7fd;
	--lightgrey: #d9d9d9;

	--lightgrey50: #d9d9d950;
	--lightblack: #333333;
	--lightblack50: #33333350;

	--linear-login: linear-gradient(90deg, #ccff33, #7a991f);
	--linear-loginDark: linear-gradient(90deg, #99cc00, #4d6600);
	--linear-section: linear-gradient(90deg, #ffffff, #508fe6);
	--linear-internal: linear-gradient(
		90deg,
		#508fe6 20%,
		#508fe600 20%,
		#508fe600 100%
	);
	--linear-internal-hover: linear-gradient(
		90deg,
		#fdfdfd 20%,
		#fdfdfd00 20%,
		#fdfdfd00 100%
	);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
}

@font-face {
	font-family: "Quan-Thin", sans-serif;
	src: url("/font/TTF/Quan-Thin.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Thin.woff2") format("woff2");

	font-family: "Quan-ExtraLight", sans-serif;
	src: url("/font/TTF/Quan-ExtraLight.ttf") format("truetype"),
		url("/font/WOFF2/Quan-ExtraLight.woff2") format("woff2");

	font-family: "Quan-SemiLight", sans-serif;
	src: url("/font/TTF/Quan-SemiLight.ttf") format("truetype"),
		url("/font/WOFF2/Quan-SemiLight.woff2") format("woff2");

	font-family: "Quan-Light", sans-serif;
	src: url("/font/TTF/Quan-Light.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Light.woff2") format("woff2");

	font-family: "Quan-Regular", sans-serif;
	src: url("/font/TTF/Quan-Regular.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Regular.woff2") format("woff2");

	font-family: "Quan-Bold", sans-serif;
	src: url("/font/TTF/Quan-Bold.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Bold.woff2") format("woff2");

	font-family: "Quan-ExtraBold", sans-serif;
	src: url("/font/TTF/Quan-ExtraBold.ttf") format("truetype"),
		url("/font/WOFF2/Quan-ExtraBold.woff2") format("woff2");

	font-family: "Quan-Black", sans-serif;
	src: url("/font/TTF/Quan-Black.ttf") format("truetype"),
		url("/font/WOFF2/Quan-Black.woff2") format("woff2");

	font-family: "QuanRounded-Thin", sans-serif;
	src: url("/font/TTF/QuanRounded-Thin.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Thin.woff2") format("woff2");

	font-family: "QuanRounded-ExtraLight", sans-serif;
	src: url("/font/TTF/QuanRounded-ExtraLight.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-ExtraLight.woff2") format("woff2");

	font-family: "QuanRounded-SemiLight", sans-serif;
	src: url("/font/TTF/QuanRounded-SemiLight.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-SemiLight.woff2") format("woff2");

	font-family: "QuanRounded-Light", sans-serif;
	src: url("/font/TTF/QuanRounded-Light.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Light.woff2") format("woff2");

	font-family: "QuanRounded-Regular", sans-serif;
	src: url("/font/TTF/QuanRounded-Regular.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Regular.woff2") format("woff2");

	font-family: "QuanRounded-Bold", sans-serif;
	src: url("/font/TTF/QuanRounded-Bold.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Bold.woff2") format("woff2");

	font-family: "QuanRounded-ExtraBold", sans-serif;
	src: url("/font/TTF/QuanRounded-ExtraBold.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-ExtraBold.woff2") format("woff2");

	font-family: "QuanRounded-Black", sans-serif;
	src: url("/font/TTF/QuanRounded-Black.ttf") format("truetype"),
		url("/font/WOFF2/QuanRounded-Black.woff2") format("woff2");
}
a {
	text-decoration: none;
	color: var(--white);
}
form {
	width: 100%;
	height: 100%;
}

hr {
	border: none;
	height: 1px;
	background: var(--denim);
	width: 90%;
	opacity: 1;
}
input {
	font-family: "Quan-Regular", sans-serif;
	font-size: 1.5rem;
	padding: 1rem;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
	color: var(--black);
}

header {
	height: 300px;
	width: 100%;
	background-image: url("/assets/images/header.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

footer {
	height: fit-content;
	width: 100%;
	background-image: url("/assets/images/footer.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	bottom: 0;
}
#copyrightHeader {
	font-family: "QuanRounded-Light", sans-serif;
	font-size: 0.8rem;
	color: var(--white);
	text-align: center;
	margin: 2rem 0 0 0;
}
.parameter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 8rem 0;
}
@media screen and (max-width: 1024px) {
	#mainSignUpLogin {
		flex-direction: column;
		align-items: center;
	}
}
