#containerSectionArsenal {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sectionArsenal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-width: 200px;
	max-width: 300px;
	height: 50px;
	margin: 3px;
	font-family: "QuanRounded-Bold", sans-serif;
	color: var(--white);
	font-size: 1.5rem;
	border-radius: 25px;
	transition: 0.35s ease-in-out;
	overflow: hidden;
	margin: 3rem auto;
	position: relative;
	z-index: 1;
	background: transparent;
	&:hover {
		background: var(--lightdenim);
	}
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 25px;
		padding: 1px;
		background: var(--linear-section);
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
		z-index: -1;
	}
}

div.sectionArsenal:nth-child(4) {
	width: 250px;
}
div.sectionArsenal:nth-child(5) {
	width: 350px;
}

.btnArsenal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 38px;
	color: var(--black);
	border: 1px solid var(--lightgrey);
	border-radius: 25px;
	cursor: pointer;
	margin: 6px;
	margin-right: 6rem;
	padding: 10px;
	transition: 0.35s ease-in-out;
	position: absolute;
	&:hover {
		color: var(--white);
	}
}

.arsenalIcon {
	display: block;
	margin-left: auto;
	width: 96px;
	height: 96px;
	transition: .35s ease-in-out;
	opacity: 0.5;
}

.arsenaldeco {
	position: relative;
	width: 120px;
	height: 120px;
}

.arsenaldeco_1,
.arsenaldeco_2 {
	position: absolute;
	width: 40px;
	height: 120px;
	background: var(--lightgrey50);
	transition: 0.3s;
}

.arsenaldeco_1 {
	transform: rotate(50deg);
}
.arsenaldeco_2 {
	transform: rotate(-50deg);
}

.sectionArsenal:hover .arsenaldeco_1,
.sectionArsenal:hover .arsenaldeco_2 {
	background: var(--lightblack50);
}
#signupLink_2 {
	color: var(--black);
	text-decoration: underline;
}
#signupLink_2:visited {
	color: var(--black);
}
