#signuplogin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 285px;
	height: 46px;
	margin: 3px;
	font-family: "QuanRounded-Bold", sans-serif;
	color: var(--white);
	font-size: 1.5rem;
	border: 1px solid var(--btnborder);
	border-radius: 25px;
	transition: 0.35s ease-in-out;
}

#btnSignup {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 40px;
	border: transparent;
	border-radius: 25px;
	cursor: pointer;
	margin: 3px;
	transition: 0.35s ease-in-out;
}

#btnLogin {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 40px;
	border: 1px solid var(--btnborder);
	border-radius: 25px;
	cursor: pointer;
	margin: 3px;
	font-family: "QuanRounded-SemiLight", sans-serif;
	font-size: 1rem;
	&:hover {
		color: var(--denim);
	}
}

#loginIcon {
	transition: .35s ease-in-out;
}
