.StoresOuter {
	display: flex;
	justify-content: end;
	align-items: center;
	width: 283px;
	height: 52px;
	margin: 2rem 0;
	border: 1px solid var(--btnborder);
	border-radius: 25px;
	transition: 0.35s ease-in-out;
	color: var(--white);
}
.StoresInner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 205px;
	height: 46px;
	margin: 3px;
	border: 1px solid var(--btnborder);
	border-radius: 25px;
	transition: background 0.35s ease-in-out;
	& p {
		color: var(--white);
		font-family: "QuanRounded-SemiLight", sans-serif;
		font-size: 1.5rem;
	}
}

.StoresIcon {
	width: fit-content;
	height: 36px;
	transition: background 0.35s ease-in-out;
}
.StoresTitleAndIconContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	width: 100%;
	height: 100%;
}
.StoresText {
	font-family: "QuanRounded-Bold", sans-serif;
	margin: auto 1rem;
	line-height: 0.6;
	& p {
		color: var(--white);
	}
}
.StoresText_1 {
	font-size: 1.5rem;
}

.StoresText_2 {
	font-size: .65rem;
}
