#logo {
	display: flex;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#containerSignUplogin {
	position: absolute;
	right: 2rem;
	bottom: 5rem;
}
#search-bar-main {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
}
#containerStores {
	position: absolute;
	left: 2rem;
	bottom: 3rem;
}
