#statsEVEContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 2rem;
	width: 100vw;
}
#statsEVEHeader > p {
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 3rem;
	margin-top: 0rem;
	position: relative;
	z-index: 5;
}
.statsEVEContent {
	height: 75vh;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 auto;
}

.statsEVELi {
	margin: 1rem 0;
}

.statsEVEIcon {
	width: 32px;
	height: 32px;
	margin-right: 0.5rem;
	vertical-align: middle;
}

.statsEVEIconContainer {
	position: relative;
	display: flex;
	width: 90vw;
	z-index: 2;
}

.statsEVEIconTitle {
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 2rem;
}
.statsEVEValue,
.statsEVEDecimal {
	position: relative;
	font-family: "QuanRounded-Bold", sans-serif;
	font-size: 3rem;
	z-index: 2;
}

.statsEVEValue {
	color: inherit;
}

/* Conteneur des barres */
.statsEVEBar {
	position: relative;
	height: 5px;
	width: 85vw;
	margin: 0.5rem 0;
	z-index: 2;
}

/* Barres superposées */
.statsEVEBarStatsGray,
.statsEVEBarStatsOrange {
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	margin-left: 0.5rem;
	border-radius: 4px;
}

.statsEVEBarStatsGray {
	width: 100%;
	background: var(--radial-gray);
	box-shadow: 0 0 5px var(--gray);
}

.statsEVEBarStatsOrange {
	width: 0; /* sera défini en inline style */
	background: var(--radial-orange);
	box-shadow: 0 0 5px var(--orange);
	z-index: 3;
}

#statsEVEImageContainer {
	display: none; /* Passer en flex pour faire apparaître le background - penser à gérer les autres formats d'écran */
	position: absolute;
	top: 55vh;
	right: 5vw;
	width: 347px;
	height: 70vh;
	overflow: hidden;
	z-index: 0;
	background-color: tomato;
}

#statsEVEImage,
#statsEVEImageOverlay {
	position: absolute;
	inset: 0; /* top/right/bottom/left:0 */
	width: 100%;
	height: 100%;
}

#statsEVEImageOverlay {
	background: var(--linear-whiteToTransparent);
	z-index: 1;
	pointer-events: none;
}
#statsEVEImage {
	object-fit: cover;
	opacity: 0.25;
	z-index: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	#statsEVEContainer {
		width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	#statsEVEContainer {
		width: 25vw;
	}

	.statsEVEContent {
		width: 25vw;
	}

	.statsEVELi {
		width: 23vw;
	}

	.statsEVEIconContainer {
		width: 25vw;
	}

	/* Conteneur des barres */
	.statsEVEBar {
		width: 22vw;
	}
	/* Conteneur des barres - Fin*/
}
